n8n.damiankaplon.site {
    reverse_proxy n8n:5678
    tls /etc/ssl/caddy/origin.pem /etc/ssl/caddy/origin.key
}

damiankaplon.site {
    reverse_proxy resume:80
    tls /etc/ssl/caddy/origin.pem /etc/ssl/caddy/origin.key
}

structify-auth.damiankaplon.site {
    reverse_proxy structify_keycloak:8080
    tls /etc/ssl/caddy/origin.pem /etc/ssl/caddy/origin.key
}


structify.damiankaplon.site {
    reverse_proxy structify_app:8080
    tls /etc/ssl/caddy/origin.pem /etc/ssl/caddy/origin.key
}

sz.damiankaplon.site {
    reverse_proxy szostak:80
    tls /etc/ssl/caddy/origin.pem /etc/ssl/caddy/origin.key
}

cms.sz.damiankaplon.site {
    reverse_proxy szostak-strapi:1337
    tls /etc/ssl/caddy/origin.pem /etc/ssl/caddy/origin.key
}
