# --- Public Domains (Traffic from Cloudflare Tunnel) ---

n8n.damiankaplon.site {
    reverse_proxy n8n:5678
    tls /etc/ssl/caddy/origin.pem /etc/ssl/caddy/origin.key
}

damiankaplon.site {
    # FIX: Point to the internal port (usually 80 for Nginx containers)
    reverse_proxy cv-react:80 
    
    tls /etc/ssl/caddy/origin.pem /etc/ssl/caddy/origin.key
}

structify.auth.damiankaplon.site {
    reverse_proxy structify_keycloak:8443

    tls /etc/ssl/caddy/origin.pem /etc/ssl/caddy/origin.key
}

# --- Local Access (Traffic from your Home Network) ---

192.168.0.230 {
    # If you access the IP, you get the React App
    reverse_proxy cv-react:80
    tls internal
}

